@model Course

@{
    ViewData["Title"] = "Course details";
}

<div class="row justify-content-center">
            <a asp-controller="Assignment" asp-action="Create" asp-route-CourseId="@Model.ID" style="float:right;margin-top:20px; margin-right:10px;" class="btn btn-primary bg-success ">
                    Add Assignment &nbsp;
                    <i class="bi bi-plus-circle"></i>
            </a>
</div>


<div class="row">
    <div class="col-md-6">
        <h1>@Model.CourseName</h1>

        @if(Model.Assignments == null)
        {
            <p>No Current Assignments</p>
        }
         <table class="table">
            <thead>
                <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Points Earned</th>
                    <th scope="col">Total Points</th>
                    <th scope="col">Completed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var assignment in @Model.Assignments)
                {
                    <tr>
                        <td>@assignment.AssignmentName</td>
                        <td>@assignment.DueDate</td>
                        <td>@assignment.PointsEarned</td>
                        <td>@assignment.MaxPoints</td>
                        <td>@assignment.IsCompleted</td>
                        <td>
                            <input class="btn-danger btn" type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Assignment", new {id = @assignment.ID})'" asp-action="Delete" asp-controller="Assignment" asp-route-id="@assignment.ID"/>
                            <input class="btn btn-secondary" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Assignment", new {id = @assignment.ID})'" asp-action="Edit" asp-controller="Assignment" asp-route-id="@assignment.ID"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

</div>