@model Course

@{
    ViewData["Title"] = "Course details";
}

<div class="flex-md-row justify-content-center">
            <a asp-controller="Assignment" asp-action="Create" asp-route-CourseId="@Model.ID" style="float:right;margin-top:20px; margin-right:10px;" class="btn btn-primary bg-success ">
                    Add Assignment &nbsp;
                    <i class="bi bi-plus-circle"></i>
            </a>
</div>


<div class="">
    <div class="col-md-7 offset-3">
        <h1>@Model.CourseName</h1>

        @if(Model.Assignments == null || Model.Assignments.Count() == 0)
        {
            <p>No Current Assignments</p>
        }
        else{
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Points Earned</th>
                    <th scope="col">Total Points</th>
                    <th scope="col">Completed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var assignment in @Model.Assignments)
                {
                    <tr>
                        <td>@assignment.AssignmentName</td>
                        <td>@assignment.DueDate</td>
                        <td>@assignment.PointsEarned</td>
                        <td>@assignment.MaxPoints</td>
                        <td>@assignment.IsCompleted</td>
                        <td>
                            <a class="btn-danger btn" asp-action="Delete" asp-controller="Assignment" asp-route-id="@assignment.ID" asp-route-courseID="@Model.ID">Delete</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-controller="Assignment" asp-route-id="@assignment.ID" asp-route-courseID="@Model.ID">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        
    </div>

</div>